{include file='public/header'/}
{include file='public/frame'/}
  <main class="r_box">
     <div class="about">
         {$about.about_text}
         <br />
         <p>域 名：暂未上线 创建于2018年11月15日&nbsp;</p>
         <br />
         <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
         <br />
         <p>备案号：{$about.about_icp}</p>
         <br />
         <p>程 序：PHP thinkphp</p>
  
     </div>
  </main>
</article>
{include file='public/footer'/}
<a href="#" class="cd-top">Top</a>
</body>
</html>
